body {
  font-family: helvetica;
  height: 95vh;
  margin: 0;
  box-sizing: border-box;
}

.splash {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.deck-skater {
  display: flex;
  justify-content: space-around;
}

.deck-skater img {
  height: 100vh;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.video-container h1 {
  text-align: center;
}

.video-container img {
  height: 10rem;
  margin-left: auto;
  margin-right: auto;
}

.the-team {
  margin-left: 10%;
  display: flex;
}

.the-team li {
  list-style-type: none;
}

.the-team a {
  text-decoration: none;
  color: black;
}

.the-team a:hover {
  color: orange;
}

.team-header {
  margin-left: 10%;
  display: flex;
  align-items: baseline;
}

#add-rider {
  margin-left: 10%;
  color: orange;
}

.add-rider-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 10%;
}

.add-rider-form input {
  margin-top: 5px;
  margin-bottom: 5px;
}

.add-rider-form button {
  border: none;
  background-color: lightgray;
}

.add-rider-form button:hover {
  background-color: orange;
  color: white;
  border: none;
}

.team-header img {
  height: 50px;
}

.profile {
  width: 75%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.5);
}

.left {
  display: flex;
  flex-direction: column;
}

.left img {
  height: 30rem;
}

.right {
  display: flex;
  align-items: center;
  margin: 10px 10px 10px 50px;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
}

.right a {
  color: black;
  text-decoration: underline;
}

#back-to-top {
  margin-left: 80%;
  color: orange;
  font-size: 3rem;
}

.footer {
  height: 5vh;
  background-color: black;
  margin-top: 20px;
  bottom: 0;
  display: flex;
  padding-left: 50px;
  color: white;
  align-items: baseline;
}

.footer a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  margin-left: 10px;
}

.footer a:hover {
  color: orange;
}

.sponsor {
  display: flex;
  align-items: baseline;
}

.sponsor p {
  padding-left: 5px;
}

.sponsor p:hover {
  color: red;
}

button {
  border-radius: 25%;
  background-color: orange;
  color: white;
  border-style: none;
  margin-left: 5px;
}

button:hover {
  opacity: 0.5;
}

.sponsors-button {
  border-radius: 5%;
  background-color: orange;
  color: white;
  border-style: none;
  margin-left: 5px;
}

@media (max-width: 600px) {
  .deck-skater {
    flex-direction: column;
  }

  .video-container {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .magicBoard {
    width: 500px;
  }

  .the-team {
    flex-direction: column;
  }

  .profile {
    flex-direction: column;
  }
}
